In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
s = pd.Series(['apple','mango','papaya'])

In [3]:
s

0     apple
1     mango
2    papaya
dtype: object

#### Display element through index

In [4]:
s[1]

'mango'

In [5]:
s.index

RangeIndex(start=0, stop=3, step=1)

#### Indexing

In [6]:
s = s.set_axis(pd.Index(["A","B","C"]))

In [7]:
s

A     apple
B     mango
C    papaya
dtype: object

In [8]:
s1 = pd.Series(['cat','dog','parrot'],index = ['A','B','C'])

In [9]:
s1

A       cat
B       dog
C    parrot
dtype: object

#### Convert series to list and numpy

In [10]:
l  = s1.to_list()
l

['cat', 'dog', 'parrot']

In [11]:
arr = s1.to_numpy()
arr

array(['cat', 'dog', 'parrot'], dtype=object)

#### create series from numpy array

In [12]:
arr = np.arange(1,10)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
series = pd.Series(arr)

In [14]:
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

## DataFrame

In [15]:
df = pd.DataFrame({'name': ['apple','orange','payaya'],'shape':['round','round','pear']})

In [16]:
df

     name  shape
0   apple  round
1  orange  round
2  payaya   pear

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.set_index(pd.Index(['A','B','C']))

     name  shape
A   apple  round
B  orange  round
C  payaya   pear

In [19]:
df2 = pd.DataFrame({'name':['apple','orange','papaya'],'shape':['round','round','pear']},[1,2,3])

In [20]:
df2

     name  shape
1   apple  round
2  orange  round
3  papaya   pear

In [21]:
df3 = pd.DataFrame([s,s1])
df3

       A      B       C
0  apple  mango  papaya
1    cat    dog  parrot

In [22]:
pd.concat([s,s1],axis=1)

        0       1
A   apple     cat
B   mango     dog
C  papaya  parrot

In [23]:
df2

     name  shape
1   apple  round
2  orange  round
3  papaya   pear

In [24]:
df2.axes

[Int64Index([1, 2, 3], dtype='int64'),
 Index(['name', 'shape'], dtype='object')]

#### Converting dataframe to dictionary

In [25]:
dic1 = df3.to_dict()

In [26]:
dic1

{'A': {0: 'apple', 1: 'cat'},
 'B': {0: 'mango', 1: 'dog'},
 'C': {0: 'papaya', 1: 'parrot'}}

#### Converting dataframe to numpy array

In [27]:
dic2 = df3.to_numpy()

In [28]:
dic2

array([['apple', 'mango', 'papaya'],
       ['cat', 'dog', 'parrot']], dtype=object)